<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canadá</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <h1>CANADÁ</h1>
    
 <p>
    O Canadá é o segundo país em extensão territorial do mundo. Portanto, apresenta grande diversidade geográfica. Ele está localizado na América do Norte e faz fronteira terrestre com os Estados Unidos.

O território canadense é banhado pelos oceanos Atlântico, Pacífico e Glacial Ártico, além de possuir um relevo muito diverso, predominantemente acidentado, com elevações superiores aos 600 metros de altitude. As principais formações do relevo canadense são as Montanhas Rochosas e os Montes Apalaches. O Monte Logan, com quase 6.000 metros de altitude, é seu ponto mais elevado.

Por sua vez, o território possui uma grande rede hidrográfica, formada por diversos rios e lagos. O principal rio do Canadá é o Mackenzie, e o maior lago é o Urso.

A geografia canadense é marcada pelos tipos climáticos que existem no país. O clima temperado ocorre na porção meridional. Essa zona é caracterizada pelas estações bem definidas e pela presença de vegetação de floresta temperada, como a floresta de coníferas.

Já na parte setentrional ocorre o clima polar. Logo, nessa região há o registro de temperaturas muito baixas e precipitações de neve intensas. A porção polar do Canadá está localizada nas proximidades do Ártico. Nessa região, há predominância da vegetação de tundra. Há, ainda, uma vegetação de transição, a pradaria, presente nas províncias localizadas no centro-sul do país.
    </p>

    <br>

</body>
</html>