{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equador</title>
    <link rel="stylesheet" href="{% static 'americasul/style.css' %}">
    
</head>
<body>
    <h1>EQUADOR</h1>
    Equador

    O Equador é um país sul-americano com capital em Quito. Possui paisagem natural diversa e economia pautada pela exportação de petróleo.
    Bandeira do Equador.
    
    Equador, ou República do Equador, é um país sul-americano localizado na região da América Andina. Sua capital é a cidade de Quito.
    
    Banhado pelo Oceano Pacífico, o clima equatoriano varia de quente e úmido ao frio de montanha nos terrenos mais elevados, que correspondem à Cordilheira dos Andes. Parte do seu território integra a Bacia do Amazonas, onde se localiza uma parcela da Floresta Amazônica.
    
    O país possui 17.888.000 habitantes, maioria dos quais vive nas cidades, e economia baseada na exportação de petróleo e de recursos minerais.
    <br>
    <br>
 <img src="https://s5.static.brasilescola.uol.com.br/be/2022/10/bandeira-equador.jpg" alt="">
</body>
</html>